---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import DuotoneTeam from '../components/DuotoneTeam.svelte'

---

<Layout title='Duotone team riders'>
	<main class='m-auto max-w-4xl min-w-[300px]'>
		<Title />
		<DuotoneTeam client:only="svelte" />
	</main>
</Layout>